<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="navbar">
        <nav style="background-color: #E91E63; color: white; padding: 15px;">
            <h2>🏦 FIAP Bank ATM - Web Console</h2>
            <a th:href="@{/internet-banking/{id}(id=${conta.id})}"
                style="color: white; margin-right: 15px;">Dashboard</a>
            <a th:href="@{/internet-banking/{id}/operacao(id=${conta.id})}" style="color: white;">Nova Operação</a>
        </nav>
    </div>
</body>

</html>